/* src/components/Login.css */

.container {
  margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 50px;
    background-color: #f8e9e9; /* Light background for contrast */
  }
  
  .login-card {
    background-color: #ffffff; /* White background for the card */
    padding: 2rem;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 600px; /* Fixed width */
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  