.search-bar {
    background-color: white;
    padding: 20px;
    border-radius: 40px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s; /* Smooth shadow transition */
  }
  
  .search-bar:hover {
    box-shadow: 1px  30px 40px rgb(211, 209, 226); /* Enhanced shadow on hover */
    ;
  }
  
  .form-control {
    border-radius: 25%; /* Rounded corners for input fields */
  }
  
  button {
    border-radius: 50%; /* Rounded corners for button */
  }
  